/* base */

* {
    box-sizing: border-box;
}

html, body {
    background-color: #ecedf1;
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    color: unset;
    text-decoration: unset;
}

body > .table {
    height: 100%;
    width: 100%;
}

body > .table > .row .cell:first-child {
    width: 300px;
}

button {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    outline: none;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #ffffff;
}

input[type="text"], select, input[type="file"] {
    border-radius: 4px;
    box-shadow: none;
    display: block;
    padding: 5px 5px;
}

input[type="text"] {
    border: solid 1px #dedee0;
}

input[type="text"]:focus {
    outline: none;
}

/* header */

#header {
    height: 40px;
}

#header > .cell:first-child {
    padding: 15px 0 15px 30px;
}

#header > .cell:first-child h1 {
    margin: 0;
    padding: 0;
}

#header > .cell:last-child {
    padding-right: 30px;
    text-align: right;
}

#header > .cell:last-child i {
    cursor: pointer;
    font-size: 19px;
    margin-left: 7px;
}

/* modal */

.modal-wrapper {
    text-align: left;
}

.modal-title {
    border-bottom: solid 1px #333;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.modal-error {
    border-radius: 4px;
    display: none;
    padding: 10px;
    text-align: center;
}

.modal-label {
    margin-top: 10px;
}

.modal-input {
    margin-top: 3px;
    width: 100%;
}

.modal-submit {
    margin-top: 10px;
    width: 100%;
}

/* menu */

#menu {
    padding: 30px;
    vertical-align: top;
}

.menu-title {
    border-bottom: solid 1px #e7e7e7;
    margin-bottom: 10px;
}

/* content */

#content {
    padding: 20px;
    vertical-align: top;
}

#content .header {
    border-bottom: solid 1px #333;
    margin-bottom: 10px;
}

#content pre {
    background-color: #fff;
    border: solid 1px #dedee0;
    border-radius: 4px;
    color: #5E6668;
    padding: 20px;
}

#content .network {
    text-align: center;
}

#content .network svg {
    margin: auto;
}

#content .network svg .label {
    color: #fff;
    font-family: inherit;
}

#content .network svg .stopped > rect {
    fill:#d9534f;
    stroke:#d9534f;
}

#content .network svg .started > rect {
    fill:#5cb85c;
    stroke:#5cb85c;
}