.color-h1 {
    background-color: #03c0ea;
    border-bottom: solid 1px #2f3a4c;
    color: #0077a4;
}

.color-header {
    background-color: #fff;
    border-bottom: solid 1px #dedee0;
    color: #a0a5a8;
}

.color-menu {
    background-color: #2f3a4c;
    color: #fff;
}

.color-default-front {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.color-default-back {
    background-color: #fff;
    border-color: #2e6da4;
    color: #337ab7;
}

.color-info-front {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}

.color-info-back {
    background-color: #fff;
    border-color: #46b8da;
    color: #5bc0de;
}

.color-success-front {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.color-success-back {
    background-color: #fff;
    border-color: #4cae4c;
    color: #5cb85c;
}

.color-warning-front {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}

.color-warning-back {
    background-color: #fff;
    border-color: #eea236;
    color: #f0ad4e;
}

.color-danger-front {
    background-color: #d9534f;
    border-color: #b92c28;
    color: #fff;
}

.color-danger-back {
    background-color: #fff;
    border-color: #b92c28;
    color: #d9534f;
}

.color-danger-text {
    border: solid 1px #d9534f;
    color: #d9534f;
}