{{ define "title" }}astiencoder - {{ .Name }}{{ end }}
{{ define "css" }}
<link rel="stylesheet" href="/static/pages/workflow.css"/>
{{ end }}
{{ define "html" }}
<div class="header">Workflow {{ .Name }}</div>
<pre class="network" id="network"></pre>
{{ end }}
{{ define "js" }}
<script type="text/javascript" src="/static/lib/mermaid-8.0.0/mermaid.min.js"></script>
<script type="text/javascript" src="/static/pages/workflow.js"></script>
<script>
    page.init("{{ .Name }}");
</script>
{{ end }}
{{ template "base" . }}
