* {
    box-sizing: border-box;
}

html, body {
    font-family: Courrier;
    font-size: 12px;
    height: 100%;
    letter-spacing: 0.005em;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333333;
    border-bottom: solid 1px #000000;
    color: #ffffff;
    display: flex;
    height: auto;
    padding: 10px;
    width: 100%;
}

header #left {
    width: 74%
}

header #left #top {
    display: flex;
    flex-direction: row;
}

header #left #search {
    border: none;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 12px;
    padding: 7px 10px;
    width: 300px;
}

header #left #top i {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    padding: 4px;
}

header #left #tags > div {
    background-color: #555555;
    border: solid 1px #777777;
    border-radius: 5px;
    display: flex;
    float: left;
    padding: 5px 8px;
    margin: 10px 10px 0 0;
}

header #left #tags > div:last-child {
    margin-right: 0;
}

header #left #tags > div:first-child {
    cursor: pointer;
}

header #left #tags .action:hover span {
    text-decoration: underline;
}

header #left #tags .fa {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.5;
    vertical-align: middle;
}

header #left #tags .fa.active, header #tags .fa:hover {
    opacity: 1;
}

header #left #tags > div > .fa:first-child {
    margin-right: 8px;
}

header #left #tags > div > .fa:last-child {
    margin-left: 8px;
}

header #right {
    padding-left: 10px;
    width: 26%;
}

header #right > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

section {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    flex-grow: 1;
    overflow: auto;
    width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
section::-webkit-scrollbar {
  display: none;
}

section #nodes {
    margin: 1em 0;
    position: relative;
}

section #nodes svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

section #nodes svg line {
    stroke: #000000;
}

section .node {
    align-items: center;
    border: solid 0.1em transparent;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    margin: 0 auto 4em auto;
    padding: 1em;
    position: absolute;
}

section #nodes > div:last-child > div {
    margin-bottom: 0;
}

section .node.paused {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

section .node.running {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

section .node.stopped {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

section .node .label {
    text-decoration: underline;
}

section .node .name {
    font-style: italic;
}

section .node .stats {
    margin-top: 1em;
}

section .node .stats td {
    padding: 0;
}

section .node .stats td:first-child {
    padding-right: 0.3em;
    white-space: nowrap;
}

footer {
    background-color: #333333;
    border-top: solid 1px #000000;
    color: #ffffff;
    display: flex;
    height: auto;
    padding: 10px;
    width: 100%;
}

footer > div:first-child {
    width: 150px;
}

footer > div:first-child > div {
    background-color: #555555;
    border: solid 1px #777777;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    justify-content: center;
    padding: 5px 8px;
    margin-bottom: 10px;
}

footer #recording-load, footer #recording-unload {
    margin: 0;
}

footer > div:first-child .fa {
    margin: auto 8px auto 0;
}

footer.recording-loaded #recording-unload, footer #recording-load {
    display: flex;
}

footer.recording-loaded #recording-load, footer #recording-load input {
    display: none;
}

footer > div:last-child {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 10px;
}

footer.recording-loaded > div:last-child {
    display: flex;
}

footer > div:last-child > div {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

footer > div:last-child .fa {
    cursor: pointer;
    font-size: 20px;
    margin: auto;
}

footer > div:last-child input[type="range"] {
    width: 100%;
}